:root {
  --md-sidebar-width: 18.35rem;
}

.md-sidebar--primary .md-nav__title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-sidebar--primary .md-nav__title .md-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-sidebar--primary .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link {
  font-weight: 700 !important;
  font-size: 0.80rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.md-sidebar--primary .md-nav--primary .md-nav .md-nav__link {
  font-weight: 400 !important;
  font-size: 0.70rem;
  color: var(--md-default-fg-color);
}

.md-sidebar--primary .md-nav--primary .md-nav .md-nav {
  margin-left: 0.55rem;
  padding-left: 0.7rem;
  border-left: 1px solid var(--md-default-fg-color--lighter);
}

.md-sidebar--primary .md-nav--primary > .md-nav__list > .md-nav__item--section > .md-nav {
  margin-left: 0.6rem;
}

.md-sidebar--primary .md-nav--primary > .md-nav__list > .md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item > .md-nav__link {
  padding-left: 0.7rem;
}

.md-sidebar--primary .md-nav--primary .md-nav .md-nav__item > .md-nav__link {
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: 700 !important;
}

.md-typeset h1 {
  color: var(--md-default-fg-color);
}
